In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df1 = pd.read_csv('all_left_joined_cntrys_fixed_5_26_24_01.csv')
df2 = pd.read_csv('all_outer_joined_cntrys_fixed_5_26_24_01.csv')

In [3]:
#changing 'technolgy' sector to 'technology' sector for my two primary entities. 8:15a 5/30/24
df1_tech_fix = df1.replace('technolgy', 'technology')

In [6]:
df1_tech_fix[df1_tech_fix['sector']=='technolgy'] # it worked. let's export.

Empty DataFrame
Columns: [opportunity_id, sales_agent, product, account, deal_stage, engage_date, close_date, close_value, series, sales_price, sector, year_established, revenue, employees, office_location, subsidiary_of, manager, regional_office]
Index: []

In [7]:
file_path = 'all_left_joined_cntrys_fixed_5_26_24_01.csv'

In [8]:
df1_tech_fix.to_csv(file_path, index=False)

In [9]:
#repeat for outer
df2_tech_fix = df2.replace('technolgy', 'technology')

In [11]:
df2_tech_fix[df2_tech_fix['sector']=='technolgy']  # it worked. let's export.

Empty DataFrame
Columns: [opportunity_id, sales_agent, product, account, deal_stage, engage_date, close_date, close_value, series, sales_price, sector, year_established, revenue, employees, office_location, subsidiary_of, manager, regional_office]
Index: []

In [12]:
file_path = 'all_outer_joined_cntrys_fixed_5_26_24_01.csv'

In [13]:
df2_tech_fix.to_csv(file_path, index=False)
#done 8:30a 5/30/24

In [ ]:
#instead of messing with new csvs in tableau let's just push the change through the csv already in use. 9am.